In [1]:
name = "Abdullah","Sameer","khan"

In [2]:
name

('Abdullah', 'Sameer', 'khan')

In [3]:
for i in name:
    print(i)

Abdullah
Sameer
khan

In [11]:
a = int(4)

TypeError: int() can't convert non-string with explicit base

In [8]:
type(a)

tuple

In [7]:
for i in a:
    print(a)

(45, 45, 254)
(45, 45, 254)
(45, 45, 254)

In [15]:
list1 = [45,45,45,45,45,45,4,54,5,45,4,5]

In [16]:
for i in list1:
    print(i)

45
45
45
45
45
45
4
54
5
45
4
5

In [17]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) # Declaring the tuple
count_odd = 0
count_even = 0
for x in numbers:
        if x % 2:
    	     count_odd+=1
        else:
    	     count_even+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 4
Number of odd numbers : 5

In [58]:
list1 = [1,2,3,4,5,6,7,8,9,10,11]
count_even = 0
count_odd = 0
for i in list1:
    if i % 2 == 0:
        
        count_odd += 1
    else:
        count_even +=1  
print(f"Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 6
Number of odd numbers : 5

In [3]:
n = int(input("Enter Any Number :"))
if n%2 == 0:
    print(n,"is even number")
else:
    print(n,"Odd number")

Enter Any Number :3
3 Odd number

In [5]:
Numbers_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21]
count_even = 0
count_odd = 0
for i in Numbers_list:
    if i % 2 ==0:
        count_even += 1 
    else:
        count_odd += 1
print("Even Numbers :",count_even)
print("Odd numbers  :",count_odd)

Even Numbers : 10
Odd numbers  : 11

In [28]:
for i in range(2,22,2):
    print(i)
    print(len(str(i)),"\n")

2
1

4
1

6
1

8
1

10
2

12
2

14
2

16
2

18
2

20
2

# Modulus operator

In [59]:
x = 45
y = 5

In [63]:
x%y #koe be number modulus sa divide ho kar 0 ans ata han tu wo divsible ha oterwise no

0

In [64]:
5*9

45

# 347 ya number han iska  mujha 7 chahiye ya y karo ga ma

In [66]:
a = 347

In [69]:
r = a % 10 # ya dekhyn 10 sa modulus

In [70]:
r

7

In [75]:
r = a % 100

In [76]:
r

47

In [78]:
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12],{"class":'V', "section":'A'}]# ak list define kare hoe han
for item in datalist:
   print ("Type of ",item, " is ", type(item))

Type of  1452  is  <class 'int'>
Type of  11.23  is  <class 'float'>
Type of  (1+2j)  is  <class 'complex'>
Type of  True  is  <class 'bool'>
Type of  w3resource  is  <class 'str'>
Type of  (0, -1)  is  <class 'tuple'>
Type of  [5, 12]  is  <class 'list'>
Type of  {'class': 'V', 'section': 'A'}  is  <class 'dict'>