In [22]:


         #       0      1         2       3     4       5       6      7        8     9          10      11     12     13     14                  
employee = ["sameer","Abdullah","Khan","bhai","kash","Sameer","Khn","Sameer","khan","Bhai","Interter","Khan","Saad","Khan","bhai"]

          #    15        14        13      12       11       10       9       8       7      6       5    4       3     2      1

In [28]:
print(employee[-15:-1])

['sameer', 'Abdullah', 'Khan', 'bhai', 'kash', 'Sameer', 'Khn', 'Sameer', 'khan', 'Bhai', 'Interter', 'Khan', 'Saad', 'Khan']

In [30]:
employee[:-5]

['sameer',
 'Abdullah',
 'Khan',
 'bhai',
 'kash',
 'Sameer',
 'Khn',
 'Sameer',
 'khan',
 'Bhai']

In [20]:
employee

[-5]

In [31]:
employee[0:-5]

['sameer',
 'Abdullah',
 'Khan',
 'bhai',
 'kash',
 'Sameer',
 'Khn',
 'Sameer',
 'khan',
 'Bhai']

In [1]:
def is_even(x):
    return x%2 == 0

In [8]:
number = [1,2,3,4,5,6,7,8,9,10,11,12,13,15,14,9,19,6,20]

In [11]:
list(filter(lambda x:x % 2 == 0,number))

[2, 4, 6, 8, 10, 12, 14, 6, 20]