In [ ]:
ya i jo han wo 0 sa start ho ga or range 10  tak han mtlb 9 tak execute ho ga

In [2]:
for i in range(10):#ak index pechay say execute karay ga 
    print(i,"nasir")

0 nasir
1 nasir
2 nasir
3 nasir
4 nasir
5 nasir
6 nasir
7 nasir
8 nasir
9 nasir

In [5]:
for i in range(10,-1,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

# Nested For Loop

In [8]:
for i in range(5):# ya for loop ak bar chlay ga tu inner loop jo han us ak bar ma complete execute ho ga
    print("Inner Loop Begin :")
    for char in "Karachi":
        print(i,char)

Inner Loop Begin :
0 K
0 a
0 r
0 a
0 c
0 h
0 i
Inner Loop Begin :
1 K
1 a
1 r
1 a
1 c
1 h
1 i
Inner Loop Begin :
2 K
2 a
2 r
2 a
2 c
2 h
2 i
Inner Loop Begin :
3 K
3 a
3 r
3 a
3 c
3 h
3 i
Inner Loop Begin :
4 K
4 a
4 r
4 a
4 c
4 h
4 i

In [10]:
tables = int(input("Enter a Table Number :"))
for table in range(2,tables+1):
    print()
    for num in range(1,11):
        print(f"{table} * {num} = {table*num}")

Enter a Table Number :5

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [1]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9