# sequence matter karti han positional argument

In [1]:
def add(first,second):# ya jo firt or second han ya parameter han in ko parameter boltay han
    c = first+second
    return c

In [2]:
add(1.66,2.66)#or ya argument han 2 dono

4.32

In [8]:
a = int(1.5)

In [9]:
a

1

In [10]:
def greet_user(greeting):
    print(greeting)

In [16]:
greet_user("sameer")
greet_user(whatever)

sameer
Hello, there.

In [17]:
whatever = "Hello, there."

In [2]:
def say_coupt(husband = "Abdullah",Wife = "Non of them"):
    print(f"the {husband} and {Wife} ")

In [5]:
say_coupt (Wife = "samer",husband = "janu")

the janu and samer

In [26]:
def say_coupts(husband ,Wife):
    print(f"the Husband NAme :{husband} and \n Wife: {Wife} ")

In [27]:
say_coupts(Wife = "Abdul Ki Jan",husband = "Abdullah")

the Husband NAme :Abdullah and
 Wife: Abdul Ki Jan

In [31]:
calc_tax(sales_total=101.37, tax_rate=.05)

5.0685

In [30]:
def calc_tax(sales_total, tax_rate):
    print(sales_total*tax_rate)

# using funcation as variable

In [3]:
def add(a,b):
    return a+b
def subract(a,b):
    return a-b

In [9]:
result = add(2,5) + subract(2,3)#YA FUNCATIONS JO HAN AS A VARIABLE USE HO RAHAY HAYN

In [10]:
result

6

In [7]:
2-5

-3

In [8]:
7-3

4

# Default Parameeter

In [6]:
def cal_tax(sales,tax = 15.45):
    print(sales*tax)

In [8]:
cal_tax(45)#is nai sales ki avalue li or baqii default value waha set han

695.25

In [38]:
cal_tax(45,24)#yaha is nai tax kiii vaue override karde

1080

In [39]:
def print_orer(product,colour,size,engraving_text = ""):
    print(product,colour,size,engraving_text)

In [42]:
print_orer("Sabon","green",45,"sdfa")

Sabon green 45 sdfa

# Keyword or postional argument

In [45]:
def give_greeting(greeting,firstname):
    print(greeting + "  , " + firstname)

In [47]:
give_greeting("Hello World",firstname = "Abdullah")#jo phaliii value han wo positional argument oor second wala keyword arugment han

Hello World  , Abdullah

In [49]:
def give_greeting(greeting,firstname,flattering_nickname=" the wonder boy"):
    print(greeting + "  , " + firstname+ " , "+flattering_nickname )

In [51]:
give_greeting("hello world",firstname = "abdullah")

hello world  , abdullah ,  the wonder boy

In [57]:
customers = {
0:{
    "first name":"John",
    "last name": "Khan",
    "address": "301 Arbor Rd.",
    
},
1:{
    "first name":"Abdllah",
    "last name": "Ogden",
    "address": "301 Arbor Rd.",
},
2:{
    "first name":"Razzaq",
    "last name": "Ogden",
    "address": "301 Arbor Rd.",
},
    
    
    
    
    
    
    
}

In [58]:
for i in customers.items():
    print(i)

(0, {'first name': 'John', 'last name': 'Khan', 'address': '301 Arbor Rd.'})
(1, {'first name': 'Abdllah', 'last name': 'Ogden', 'address': '301 Arbor Rd.'})
(2, {'first name': 'Razzaq', 'last name': 'Ogden', 'address': '301 Arbor Rd.'})

In [55]:
def find_something(dict, inner_dict, target):
    print(dict[inner_dict][target])

In [61]:
find_something(customers, 0, "last name")

Khan

In [1]:
def nsquare(x, y):
    return (x*x + 2*x*y + y*y)
print("The square of the sum of 2 and 3 is : ", nsquare(2, 3))

The square of the sum of 2 and 3 is :  25

In [2]:
12+8

20

In [3]:
3*3

9

In [4]:
2*2*3

12

In [5]:
2*2

4

In [6]:
12+9+4

25

In [15]:
def nsquare(x, y = 2):
    return (x*x + 2*x*y + y*y)
print("The square of the sum of 2 and 2 is : ", nsquare(2))
print("The square of the sum of 2 and 3 is : ", nsquare(2,4))

The square of the sum of 2 and 2 is :  16
The square of the sum of 2 and 3 is :  36

In [7]:
2*2

4

In [8]:
2*2*2

8

In [9]:
2*2

4

In [10]:
8+4+4#complete

16

In [11]:
2*2

4

In [12]:
2*2*4

16

In [13]:
4*4

16

In [14]:
16+16+4

36

In [15]:
sum(5,5)

10

In [14]:
def sum(*numbers):
    s = 0
    for n in numbers:
        s = s+ n
    return s

In [16]:
10+0

10

In [22]:
def average(x, y):
    return (x + y)/2
print(average(4, 3))

3.5

In [23]:
4+3

7

In [24]:
7/2

3.5

In [25]:
a = 2

In [27]:
def display_number():
    print(a)

In [28]:
display_number()

2

In [29]:
a

2

# Functkion kae andr ak or funcation

In [19]:
def say_something():
    what_to_say = "Hi"
    now_say_it(what_to_say)

In [20]:
def now_say_it(content):
    print(content)

In [21]:
say_something()

Hi

In [22]:
now_say_it("Sameer")

Sameer

# funcation

In [13]:
def result(r1,r2,r3):
    ttl = r1+r2+r3
    percent = ttl/3
    
    if percent >= 50:
        print("Pass")
    else:
        print("Fail")
    return

p = int(input("Enter your marks in physic :"))
c = int(input("Enter your marks in chemistry :"))
m = int(input("Enter your marks in math :"))

result(p,c,m)

Enter your marks in physic :50
Enter your marks in chemistry :50
Enter your marks in math :50
Pass

In [11]:
result(50,4,50)

Fail

# Passing Argument by Reference

In [15]:
def myfunction(arg):
    print ('value received:',arg,'id:',id(arg))
    return
x=10
print ('value passed:',x, 'id:',id(x))

value passed: 10 id: 140708943074400

In [16]:
myfunction(x)

value received: 10 id: 140708943074400

# Passing List by Reference

In [28]:

def say(list):
    list.append(4)
    print("list in funcation",list)

In [29]:
mtlist = [1,2,3]

In [30]:
say(mtlist)

list in funcation [1, 2, 3, 4]