In [12]:
age = 12
age =+50

In [13]:
print(age)

50

In [14]:
age = 10
age += 50
age

60

In [17]:
total_cost = (1 + 3) * 4

In [18]:
total_cost

16

In [19]:
result_of_computation = (2 * 4) * 4 + 2

In [20]:
result_of_computation

34

In [26]:
city_0 = "Atlanta" 
city_1 = "Baltimore"
city_2 = "Chicago" 
city_3 = "Denver" 
city_4 = "Los Angeles" 
city_5 = "Seattle" 
city_0

'Atlanta'

In [1]:
cities = ["Dubuque", "New Orleans",4545,454]

In [32]:
cities = cities + ["Dubuque", "New Orleans"]

In [2]:
print(cities)

['Dubuque', 'New Orleans', 4545, 454]

In [8]:
today_tasl = []

In [27]:
today_tasl = today_tasl + ["Sameer","Abdullah","Baba"]

In [10]:
today_tasl = today_tasl +[45,245,"dsa"]

In [7]:
today_tasl.insert(0,"saf")

In [58]:
today_tasl.append("SAMEER")

In [11]:
today_tasl

['Sameer', 'Abdullah', 'Baba', 45, 245, 'dsa']

In [12]:
to = today_tasl[2:5]

In [13]:
to

['Baba', 45, 245]

In [14]:
del today_tasl[1]

In [30]:
today_tasl

['Sameer', 'Sameer', 'Abdullah']

In [19]:
today_tasl[1]

45

In [29]:
today_tasl.pop()

'Baba'

In [20]:
tak = []

In [23]:
tak.insert(1,today_tasl.pop())

In [24]:
tak

[45, 245]