# Popping

In [11]:
list = ["Smaeer","Abdullah","Ali","Sono",4525,"adsa","ASamae"]
list

['Smaeer', 'Abdullah', 'Ali', 'Sono', 4525, 'adsa', 'ASamae']

In [12]:
len(list)

7

In [13]:
sa = ["Pagal","Han","Marii ","Jaan Tu"]
sa

['Pagal', 'Han', 'Marii ', 'Jaan Tu']

In [14]:
sa.reverse()

In [15]:
sa

['Jaan Tu', 'Marii ', 'Han', 'Pagal']

In [16]:
list.append(sa)

In [17]:
list

['Smaeer',
 'Abdullah',
 'Ali',
 'Sono',
 4525,
 'adsa',
 'ASamae',
 ['Jaan Tu', 'Marii ', 'Han', 'Pagal']]

In [26]:
list[0:2]

['Smaeer', 'Abdullah']

In [20]:
list[2:6:2]

['Ali', 4525]

In [35]:
type(list)

list

In [27]:
a = list.insert(1,"baba")

In [28]:
list

['Smaeer',
 'baba',
 'Abdullah',
 'Ali',
 'Sono',
 4525,
 'adsa',
 'ASamae',
 ['Jaan Tu', 'Marii ', 'Han', 'Pagal']]

In [53]:
list.insert(0,list.pop(1))

In [62]:
list.pop(1)

'Abdullah'

In [67]:
list.pop()

4525

# Slicing

In [35]:
abd = ["Abdullah","Sameer","Ali","Baba","Dost"]

In [33]:
abd.sort()

In [34]:
abd[2:5]#firt target value or jaha tak jana han uskae baad or is ma jo end wala han wo mtlb 1 sa 5 han tu 4 tak print karay ga

['Baba', 'Dost', 'Sameer']

In [78]:
abd[1:5:3]#first target value or second wai jaha tak index karni han or thired walii kitnay step han

['Sameer', 'Dost']

In [81]:
abd[:5:2]#is hum nai target value nhi de just index batya or step batya

['Abdullah', 'Ali', 'Dost']

In [103]:
abd[::2]#is ma bus step batya han

['Abdullah', 'Ali', 'Dost', 'sameerali bhai']

In [21]:
abd[4]

'Sameer'

In [82]:
abd.clear()#clear function

In [42]:
a = abd.copy()
a

['Abdullah', 'Sameer', 'Ali', 'Baba', 'Dost', 'alisha', 'alisha']

In [40]:
abd.insert(6,"alisha")

In [44]:
abd

['Abdullah',
 'Sameer',
 'Ali',
 'Baba',
 'Dost',
 'alisha',
 'alisha',
 'sameerali bhai']

In [43]:
abd.append("sameerali bhai")

In [45]:
list1 = ["sameer","Abdullah","Baba","Aslam","Pasha","Kamal Pasha"]

# left to right slicing ya negative sa start hotii han

In [57]:
abc = ["Sameer","Abdullah","Khan","Bhai","Forgin","dsf"]

In [58]:
abc

['Sameer', 'Abdullah', 'Khan', 'Bhai', 'Forgin', 'dsf']

In [87]:
abc[:-6:-1]

['dsf', 'Forgin', 'Bhai', 'Khan', 'Abdullah']

# table

In [51]:
num = 2
for i in range(1,11):
    print(f'{num} * {i} = {num*i}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [47]:
num = int(input("Enter a Number"))
for i in range(0,10):
    print(f'{num} * {i} = {num*i}')

Enter a Number5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

# Tupple sa

In [90]:
# all slicing rules of list are also applied to tupples as it is but tuple is immutetable

In [91]:
mytuples = (3,1,5,4,6,8)

In [95]:
3 in mytuples

True

In [2]:
mytuples = ("Sameer","Abdullah","Hina")

In [3]:
mytuples[2] = "Hin"

TypeError: 'tuple' object does not support item assignment

In [7]:
mytuples.append("gaga")

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
mytuples.remove('Sameer')

AttributeError: 'tuple' object has no attribute 'remove'

In [3]:
mytuples[0]

'Sameer'

In [4]:
del mytuples[0]

TypeError: 'tuple' object doesn't support item deletion

In [20]:
type(mytuples)

tuple

In [12]:
len(mytuples)

2

In [14]:
del mytuples[0]

TypeError: 'tuple' object doesn't support item deletion

In [23]:
mytuples[1:5:2]

(1, 4)

In [ ]:
#packing and unpacking in list and tupples

In [22]:
a = ("sameer","Bhai","Sono","Baba","foreign key")
#Packing

In [23]:
type(a)

tuple

In [26]:
w,z,x,d,s = a
#unpacking sub ko agl agl kar deya

In [27]:
w

'sameer'

In [28]:
z

'Bhai'

In [29]:
x

'Sono'

In [30]:
d

'Baba'

In [31]:
recentagle = [3,4]
height , width = recentagle

In [32]:
height

3

In [33]:
width

4

# For Loop

In [ ]:
#list ma ya element ha tu loop execute karo

In [27]:
lis = ["Sameer","Ali"]
for x in range(0,10) :
    print(f'{x}" : {lis}"')

0" : ['Sameer', 'Ali']"
1" : ['Sameer', 'Ali']"
2" : ['Sameer', 'Ali']"
3" : ['Sameer', 'Ali']"
4" : ['Sameer', 'Ali']"
5" : ['Sameer', 'Ali']"
6" : ['Sameer', 'Ali']"
7" : ['Sameer', 'Ali']"
8" : ['Sameer', 'Ali']"
9" : ['Sameer', 'Ali']"

In [ ]:
#funcation define

In [13]:
def add(n):
    result = 0
    for i in range(1,n+1):
        result = result+i
    return(result)
print(add(2))

3

In [27]:
for j in range(1,10):
    print(j,"Sameewr")

1 Sameewr
2 Sameewr
3 Sameewr
4 Sameewr
5 Sameewr
6 Sameewr
7 Sameewr
8 Sameewr
9 Sameewr

In [25]:
for i in range(10):
    
    print(i,"Sameer")

0 Sameer
1 Sameer
2 Sameer
3 Sameer
4 Sameer
5 Sameer
6 Sameer
7 Sameer
8 Sameer
9 Sameer

In [2]:
for i in range(1,10):
    for j in range(1,i+1):
        print("*", end="");
    print()

*
**
***
****
*****
******
*******
********
*********

In [4]:
for g in range(10,0,-1):#negative indexing
    print(g,"Sameer")

10 Sameer
9 Sameer
8 Sameer
7 Sameer
6 Sameer
5 Sameer
4 Sameer
3 Sameer
2 Sameer
1 Sameer

In [6]:
list = ["Abdullah","Razzaq",555555]
for i in list:
    print(i)

Abdullah
Razzaq
555555

In [12]:
list1 = [2,3,4,5,6]#is list ka har number 2 sa multipily ho ga
for i in list1:
    print(f'{i*2}')

4
6
8
10
12

In [22]:
# Hum ak list banay gayn jis ka output be list ma he nazar ay ga
my_list = ["Pagal","TU","HO","HE ","Nhi","Sakta"]
mylist = []
for i in my_list:
    mylist.append(i)
mylist

['Pagal', 'TU', 'HO', 'HE ', 'Nhi', 'Sakta']

In [23]:
for i in range(6):
    print(i)
    if i == 3:
        print(i*2)

0
1
2
3
6
4
5

In [ ]:
# break
#continue
#Pass

In [7]:
for i in range(6):
    if i == 3:
        break;
    print(i)

0
1
2

In [8]:
for j in range(10):
    if j == 5:
        continue
    print(j)

0
1
2
3
4
6
7
8
9

In [10]:
for k in range(52):
    pass

# nested loop

In [14]:
for i in "Pakistan":
    for j in range(5):
        print(i,j)

P 0
P 1
P 2
P 3
P 4
a 0
a 1
a 2
a 3
a 4
k 0
k 1
k 2
k 3
k 4
i 0
i 1
i 2
i 3
i 4
s 0
s 1
s 2
s 3
s 4
t 0
t 1
t 2
t 3
t 4
a 0
a 1
a 2
a 3
a 4
n 0
n 1
n 2
n 3
n 4

In [2]:
f_name = ["Sameer","Abdullah","Razzaq"]
l_name = ["Younus","PAPA","BABA"]
r_name = []
for f in f_name:
    for l in l_name:
        r_name.append(f+" "+l)
r_name

['Sameer Younus',
 'Sameer PAPA',
 'Sameer BABA',
 'Abdullah Younus',
 'Abdullah PAPA',
 'Abdullah BABA',
 'Razzaq Younus',
 'Razzaq PAPA',
 'Razzaq BABA']

In [15]:
name = "Abudl Meri Jaan"
print (name)

Abudl Meri Jaan

In [16]:
type (name)

str

In [35]:
a=100
a = 15
print(a)

SyntaxError: can't use starred expression here (<ipython-input-35-b942705e7292>, line 5)

In [20]:
print(2+2)

4

In [22]:
a = 2 * 9
print(a)

18

In [23]:
print(2-4)

-2

In [24]:
print (4/2)

2.0

In [25]:
print (5/2)

2.5

In [26]:
print (9%3)

0

In [38]:
age = 12 
amount_to_increment = 3 
age += amount_to_increment 
print(age)

15

In [7]:
name = "Abdul"
if name == "Abdul":
    print ("Wellcome Abdul")

Wellcome Abdul

In [11]:
a = 5 
if 2+2 == a:
    print("You Are Right")
else:
    print("Your wrong")

Your wrong

# Dictionaries

In [4]:
adict = {}

In [5]:
type(adict)

dict

In [6]:
len(adict)

0

In [37]:
bdict = {
    'Name':"Abdullah",
    'Father':"Younus",
    'CNIC':"1071644",
}

In [17]:
bdict

{'Name': 'Sameer', 'Father': 'Younus', 'CNIC': '1071644'}

In [10]:
bdict['Name']#ya hum nai key sa value get kare han ab yahe same kaam get() ka method karay ga

'Abdullah'

In [12]:
bdict.get('Father')

'Younus'

In [15]:
bdict.fromkeys("Name")

{'N': None, 'a': None, 'm': None, 'e': None}

In [16]:
#change value 
bdict['Name'] = "Sameer"

In [18]:
#loop from dictionaries ya key get kar raha han bus
for i in bdict:
    print(i)

Name
Father
CNIC

In [23]:
for j in  bdict:
    print(bdict[j])

Sameer
Younus
1071644

In [24]:
for k in bdict.values():
    print(k)

Sameer
Younus
1071644

In [25]:
bdict.items()

dict_items([('Name', 'Sameer'), ('Father', 'Younus'), ('CNIC', '1071644')])

In [26]:
for h in bdict.items():
    print(h)

('Name', 'Sameer')
('Father', 'Younus')
('CNIC', '1071644')

In [28]:
if "Father" in bdict:
    print("yes 'Father' key in dictionary")

yes 'Father' key in dictionary

In [29]:
bdict["Colour"]="red"

In [36]:
bdict

{}

In [31]:
bdict.pop("Name")

'Sameer'

In [34]:
bdict.popitem()

('Colour', 'red')

In [35]:
bdict.clear()

In [39]:
#copy funcation 
mydic = bdict.copy()

In [50]:
mydic

{'Name': 'vava',
 'Father': 'Younus',
 'CNIC': '1071644',
 'Father CNIC': '1064548'}

In [41]:
mydic.update({'Father CNIC':"1064548"})

In [43]:
mydic["Name"] = "vava"

In [48]:
x = mydic.setdefault("Name","sameer")

In [49]:
x

'vava'

# creating a list dictionary

In [60]:
mylist = ["Sameer","Abdullah","Baba",{"Ya":"Dictionary","Hm":"yahe han"}]
mylist

['Sameer', 'Abdullah', 'Baba', {'Ya': 'Dictionary', 'Hm': 'yahe han'}]

In [57]:
mylist[3]

{'Dictionary', 'Han', 'Ya'}

In [61]:
mylist[3]["Ya"]

'Dictionary'

In [64]:
"Name" in  mydic

True

In [53]:
type(mylist)

list

In [55]:
len(mylist)

4

In [1]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]

In [2]:
smaller_list_of_cities = cities[2:5]

In [3]:
smaller_list_of_cities

['Chicago', 'Denver', 'Los Angeles']

In [4]:
cities.pop()

'Seattle'

In [5]:
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles']

In [7]:
cities.pop(1)

'Baltimore'

In [9]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [10]:
latest_task = tasks.pop(1)

In [13]:
latest_task

'call Sarah'

In [12]:
tasks

['email Frank', 'meet with Zach']

In [17]:
latest_task.append(tasks.pop())

AttributeError: 'str' object has no attribute 'append'