# Escape Sequences

In [2]:
'''
Escape sequence	Description	Example	Result
\a	Bell or alert	"\a"	Bell sound
\b	Backspace	"ab\bc"	ac
\f	Formfeed	"hello\fworld"	hello world
\n	Newline	"hello\nworld"	Hello
\nnn	Octal notation, where n is in the range 0-7	'\101'	A
\t	Tab	'Hello\tPython'	Hello Python
\xnn	Hexadecimal notation, where n is in the range 0-9, a-f, or A-F	'\x41'	A'''

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 266-267: truncated \xXX escape (<ipython-input-2-db75478556af>, line 9)

In [ ]:
+	Appends the second string to the first	>>> a='hello' 
>>> b='world' 
>>> a+b 
'helloworld'
*	Concatenates multiple copies of the same string	>>> a='hello'
>>> a*3
'hellohellohello'
*  []	Returns the character at the given index	>>> a = 'Python Tutorials'
>>> a[7] 
T
* [ : ]	Fetches the characters in the range specified by two index operands separated by the : symbol	>>> a = 'Python Tutorials'
>>> a[7:15]
'Tutorial'
*   in	Returns true if a character exists in the given string	>>> a = 'Python Tutorials'
>>> 'X' in a 
False 
>>> 'Python' in a 
True 
>>> 'python' in a 
False
*  not in	Returns true if a character does not exist in the given string	>>> a = 'Python Tutorials'
>>> 'X' not in a 
True 
>>> 'Python' not in a 
False

In [1]:
print("Hello  "Hello world"    World ")

SyntaxError: invalid syntax (<ipython-input-1-8721b5cf1214>, line 1)

In [7]:
print("Hello  \"Hello\"  World")# this escape sequece "back slash Double quotes"

Hello  "Hello"  World

In [8]:
print('Hello  \'Hello\'  World')# this escape sequece "back slash single quotes"

Hello  'Hello'  World

In [9]:
#double blackslash ka mtlb single backslash

In [10]:
print("Hello \ python")

Hello \ python

In [14]:
print("hello Python \\")# \" iska mtlb hota han back slash  is liya error a rha han yahe agar mujha back slash chahiye tu ma and ma double \\ lagao ga iska mtlb single print karay ga

hello Python \

In [19]:
print("Hello world ")

Hello world  %c

In [23]:
print("{:>10}".format("Hello"))

     Hello

In [24]:
print("{:<10}".format("Hello"))

Hello

In [33]:
a = "hello world"

In [29]:
print("{:>20}".format(a))

               hello

In [28]:
len(a)

5

In [34]:
a.capitalize()

'Hello world'

In [35]:
a.title()

'Hello World'

In [37]:
a.find("world")

6

In [39]:
a.find("sameer") #jub koe value nhi mili ge tu uska index by default -1 return karay ga?

-1

In [53]:
mystr='Python Tutorial From Tutorials Teacher  ' #ya batay ga jo ap nai count ma pass kara han wo is variable ma kitni dafa han
>>> mystr.count('Tutorial')

2

In [52]:
mystr='Python Tutorial From Tutorials Teacher Tutorials '
>>> mystr.count('Tutorial')

3

In [48]:
>>> mystr='TutorialsTeacher'
>>> mystr.isalpha()

True

In [49]:
>>> mystr='Tutorials Teacher'
>>> mystr.isalpha()

False

In [57]:
>>> str1='2000'
>>> str1.isdigit()

True

In [59]:
>>> str2='2,000'
>>> str2.isdigit()

False

In [60]:
>>> str1='python'
>>> str1.islower()

True

In [61]:

>>> str2='Python'
>>> str2.islower()

False

In [63]:
>>> var='TUTORIALSTEACHER'
>>> var.isupper()

True

In [65]:
>>> var='TUTORIALSTeacher'
>>> var.isupper()

False

# List

In [68]:
name = ["Sameer","Abdullah","YOunus","shakila","Munni"]

In [74]:
list1 = [1,2,3,4,5]

In [84]:
list2 = [6,7,8,9,10]

In [85]:
list3 =list1+list2#jub be 2 list kae bech ma + ka sign ho ga mtlb kae wo concatenate karay ga not + karay ga

In [86]:
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [90]:
sum(list1+list2)

55

In [91]:
1+2+3+4+5+6+7+8+9+10

55

In [93]:
list1*4

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [94]:
name = "Sameer","khan"

In [95]:
type(name)

tuple

In [96]:
list(name)

['Sameer', 'khan']

In [121]:
orderItem=(1, 75.50, True)

In [122]:
min(orderItem)

1

In [110]:
orderItem[-5]

1

In [111]:
orderItem[-4]

'Jeff'

In [112]:
orderItem[-3]

'Computer'

In [113]:
orderItem[-2]

75.5

In [114]:
orderItem[-1]

True

In [117]:
del orderItem

NameError: name 'orderItem' is not defined

# set datatype

# The set is a Python implementation of the set in Mathematics. A set object has suitable methods to perform mathematical set operations like union, intersection, difference, etc.

In [133]:
s1 = {1,"Sameer",25.45,True,1} #this is set not change able and not duplicate values

In [137]:
type(s1)#not indexing not slicing

set

# union method jo han wo mujha 2 set ka output ak single set ma day ga or ya union hum  "|"  pipe operator sa be karwa sakty hayn

In [146]:
a = {1,2,3,4,5}
b = {6,7,8,9,10}

In [147]:
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [148]:
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# intersection ya karay ga jo a and b dono sets ma common ho ga wo value show karay ga

In [154]:
a = {1,2,3,4,5}
b = {4,5,8,9,10}

In [155]:
print(a&b)#ya & is intersetion kae liya use hota han

{4, 5}

In [156]:
print(a.intersection(b))

{4, 5}

# Difference "-" minus opeator kae through perform hota han like ya asa kaam karay ga kae ma agar a-b karta ho tu meray a walay elements print karay ga b walay nhi or asa be agar ma b - a karta ho tu b walay print karay ga a walay nhi

In [158]:
print(a-b)

{1, 2, 3}

In [159]:
print(a.difference(b))

{1, 2, 3}

In [160]:
name1 = (["nada","dafa",50],"sadfas")

In [161]:
type(name1)

tuple

# Only immutable (and hashable) objects can be a part of a set object. Numbers (integer, float, as well as complex), strings, and tuple objects are accepted, but list and dictionary objects are not.

In [163]:
>>> S1={(10,10), 10,20}
>>> S1

{(10, 10), 10, 20}

In [165]:
S1.add("sad")

# dictionary key has not change keys in immutetable

In [167]:
items={("Parker","Reynolds","Camlin"):"pen",("LG","Whirlpool","Samsung"): "Refrigerator"}

In [168]:
items.keys()

dict_keys([('Parker', 'Reynolds', 'Camlin'), ('LG', 'Whirlpool', 'Samsung')])

In [169]:
len(items)

2

In [175]:
dict={["Mango","Banana"]:"Fruit", ["Blue", "Red"]:"Colour"}#mutetable ha tu kabii be change  ho saktii han is liya error day rha han ku kae key change nhi ho saktii

TypeError: unhashable type: 'list'

In [176]:
capitals={"USA":"New York", "France":"Paris", "Japan":"Tokyo", "India":"New Delhi"}

In [178]:
capitals["USA"]

'New York'

In [182]:
for i in capitals:
    print("Keys :"+i+" ,"+" Values : "+capitals[i])

Keys :USA , Values : New York
Keys :France , Values : Paris
Keys :Japan , Values : Tokyo
Keys :India , Values : New Delhi

In [186]:
>>> mark1={"Sagar":67, "Amrita":88, "Bhaskar":91, "Kiran":49}
>>> mark2={"Arun":55, "Bhaskar":95, "Geeta":78}

In [184]:
mark1 = mark2

In [187]:
mark1.update(mark2)

In [189]:
print(mark1)

{'Sagar': 67, 'Amrita': 88, 'Bhaskar': 95, 'Kiran': 49, 'Arun': 55, 'Geeta': 78}

In [190]:
mark1.values()

dict_values([67, 88, 95, 49, 55, 78])

In [191]:
mark1.keys()

dict_keys(['Sagar', 'Amrita', 'Bhaskar', 'Kiran', 'Arun', 'Geeta'])

In [192]:
mark1.items()

dict_items([('Sagar', 67), ('Amrita', 88), ('Bhaskar', 95), ('Kiran', 49), ('Arun', 55), ('Geeta', 78)])

In [193]:
a = 45
b = 100

if a > b:
    print("a less than b")
else if a < b:
    print("ya theak han")
else:
    print("vsda")

SyntaxError: invalid syntax (<ipython-input-193-e570a70e0b73>, line 6)

In [2]:
num=0
count=0
sum=0
while num>=0:
    num=int(input("enter any number .. -1 to exit\n"))
    if num>=0:
        count=count+1 #this counts number of inputs 
        sum=sum+num # this adds input number cumulatively. 
avg=sum/count
print ("numbers input:",count, "average:",avg)

enter any number .. -1 to exit
5
enter any number .. -1 to exit
5
enter any number .. -1 to exit
5
enter any number .. -1 to exit
5
enter any number .. -1 to exit
5
enter any number .. -1 to exit
5
enter any number .. -1 to exit
5
enter any number .. -1 to exit
5
enter any number .. -1 to exit
-1
numbers input: 8 average: 5.0

# ya work asa kar raha han kae range(1,4) tak han mtlb kae 3 tak execute ho ga or is kae andr jo loop ho ga wo phlay bahar wala loop one time chala tu wo andr walay pora loop execute karay ga phir jub andr wala loop jaise false ho ga phir bahar walay loop ma 2rii dafa chlay ga phir ya be jub tak iskae andr wala loop pora execute nhi ho jata ase he work karta rahay ga jub tak apka upper wala loop false na ho jay

In [6]:
for x in range(1,4): 
    for y in range(1,3):
        print ("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [4]:
for y in range(1,3):
        print ("Hello World")

Hello World
Hello World

In [8]:
for x in range(5):
    print ("iteration no {} in for loop".format(x+1))
else:
    print ("else block in loop")
print ("Out of loop")

iteration no 1 in for loop
iteration no 2 in for loop
iteration no 3 in for loop
iteration no 4 in for loop
iteration no 5 in for loop
else block in loop
Out of loop

In [14]:
num=0
while num<5:
    num=num+1
    print ("Num =  {} ".format(num))
    if num==3:
        break
print ("Out of loop")

Num =  1
Num =  2
Num =  3
Out of loop

In [17]:
num=0
while num<5:
    num=num+1
    print ("Num =  {} ".format(num))

Num =  1
Num =  2
Num =  3
Num =  4
Num =  5

In [22]:
num=int(input("Enter a number: "))
for x in range(2,num):
    if num%x==0:
        print("{} is not prime".format(num))
        break
    else:
        print ("{} is prime".format(num))

Enter a number: 3
3 is prime

In [24]:
num=0
while num<5:
    num=num+1        
    if num==3:
        continue
    print ("Num =  {} ".format(num))
print ("Out of loop")

Num =  1
Num =  2
Num =  4
Num =  5
Out of loop

In [25]:
12*5

60

In [38]:
def SayHello():
    """First line is docstring. When called, a greeting message will be displayed"""
    name = "sameer"
    print ("Hello! Welcome to Python tutorial on TutorialsTeacher")
    return

In [39]:
SayHello()

Hello! Welcome to Python tutorial on TutorialsTeacher