In [ ]:
for a in range(10):
    print(a)

In [ ]:
[i for i in range(1,11)]

In [ ]:
table = 2
while(table < 10):
    print('TABLE OF :',table)
    multi = 1
    while(multi <= 10):
        print(end =" table , "*" , multi , "=",table*multi ")
        multi += 1
    print(end = " ")
    table += 1

In [ ]:
for x in range(1,10):
    print(x)

In [ ]:
print(*range(1,11))

In [ ]:
for i in range(20):
    if i == 10:
        print(i,end = " ")
    
    print(i)

In [8]:
a = 1
while(a < 10):
    b = 11
    while(b < 20): 
        print(b ,end = " ")
        b +=1
    a += 1

11 12 13 14 15 16 17 18 19 11 12 13 14 15 16 17 18 19 11 12 13 14 15 16 17 18 19 11 12 13 14 15 16 17 18 19 11 12 13 14 15 16 17 18 19 11 12 13 14 15 16 17 18 19 11 12 13 14 15 16 17 18 19 11 12 13 14 15 16 17 18 19 11 12 13 14 15 16 17 18 19

In [17]:
for i in range(10):
    print(i,"\n")
    for j in range(10,20):
        print(j,end = " ")

0

10 11 12 13 14 15 16 17 18 19 1

10 11 12 13 14 15 16 17 18 19 2

10 11 12 13 14 15 16 17 18 19 3

10 11 12 13 14 15 16 17 18 19 4

10 11 12 13 14 15 16 17 18 19 5

10 11 12 13 14 15 16 17 18 19 6

10 11 12 13 14 15 16 17 18 19 7

10 11 12 13 14 15 16 17 18 19 8

10 11 12 13 14 15 16 17 18 19 9

10 11 12 13 14 15 16 17 18 19