In [5]:
 a= ["A","C",90,75,"c"]

In [15]:
a[:-1]

['A', 'C', 90, 75]

In [20]:
a[:1]

['A']

In [23]:
a.count("c")

1

In [119]:
a.pop("c")

TypeError: 'str' object cannot be interpreted as an integer

In [27]:
a.pop(2)

90

In [30]:
5 is a

False

In [13]:
Isuny = []
if Isuny:
    print("It's Sunny")
elif 90 <= temp < 100 and batch > 80:
    print("Batch is HOt and Full")
elif not((job=="qa") or (usr == "adm")):
    print("Match is not qa and adm")
else:
    print("no match job is "+job)

NameError: name 'temp' is not defined

In [24]:
a

['A', 'C', 90, 75, 'c']

In [31]:
grades = ["A","C","B","F"]

In [36]:
[grade for grade in grades]

['Asa', 'Csa', 'Bsa', 'Fsa']

In [39]:
for k,v in enumerate(grades):
    if v== "F":
        grades[k] = "A"

In [40]:
grades

['A', 'C', 'B', 'A']

In [41]:
k

3

In [42]:
v

'A'

In [43]:
inv = {"apple":7,'peaches':4 }

for fruite,count in inv.items():
    print("We have {} {} ".format(count,fruite))

We have 7 apple
We have 4 peaches

In [48]:
for i in range(9,2,-1):

SyntaxError: unexpected EOF while parsing (<ipython-input-48-f5c8d581d99a>, line 1)

In [50]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [53]:
for i in range(9,1,-1):
    print(i)

9
8
7
6
5
4
3
2

In [55]:
for i in range(100,5,-2):
    print(i)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6

In [56]:
def sumnumber(numone,numtwo = 0):
    return numone + numtwo

In [57]:
print(sumnumber(3,2))

5

In [58]:
print(sumnumber(3))

3

In [63]:
total = int("9") + 1

In [64]:
total

10

In [71]:
title = "Us  and  Them "

In [75]:
len(title)

11

In [94]:
title.split()

['Us', 'and', 'Them']

In [87]:
b = "       Hello"

In [93]:
b.strip(" ")

'Hello'

In [95]:
title.join(["A","B","C"])

'AUs and ThemBUs and ThemC'

In [96]:
title.replace("Them","Asad")

'Us and Asad'

In [120]:
votes = {"red":3,"blue":5}

In [103]:
votes.has_key("red")

AttributeError: 'dict' object has no attribute 'has_key'

In [123]:
votes.pop("blue")

5

In [109]:
title

'Us and Them'

In [111]:
title.pop("and")

AttributeError: 'str' object has no attribute 'pop'

In [148]:
list1 = ["adsa",454,"asfas",45,"dsaf",4,"ds5f5sad"]

In [151]:
list1[-5:-4]

['asfas']

In [114]:
list1.pop()

'ds5f5sad'

In [118]:
list1.pop(5)

4

In [133]:
list1[2:-2]

['asfas']

In [134]:
list1[-2]

45

In [137]:
10 < 20

True

In [138]:
10 > 30

False

In [139]:
True and False

False

In [140]:
False and True

False

In [155]:
'The {} side {1} {2}'.format('bright', 'of', 'life')

ValueError: cannot switch from automatic field numbering to manual field specification