In [1]:
[j for i in range(2,8) for j in range(i*2, 50, i)]

[4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 14,
 21,
 28,
 35,
 42,
 49]

In [3]:
_a = 1

In [4]:
_a

1

In [5]:
__a = 1

In [6]:
__a

1

In [7]:
__str__ = 1

In [8]:
__str__

1

In [11]:
type(eval)

builtin_function_or_method

In [10]:
sa

NameError: name 'sa' is not defined

In [13]:
type(nonlocal)

SyntaxError: invalid syntax (<ipython-input-13-4a4f52be252e>, line 1)

In [14]:
a = 4/(3*(2-1)) and 4/3*(2-1)

In [16]:
bool(a)

True

In [17]:
b = 7 % 5

In [18]:
b

2

In [23]:
4 + 3 % 7

7

In [20]:
16 % 15 // 16

0

In [21]:
2 // 16

0

In [24]:
x = int(43.55+2/2)

In [25]:
x

44

In [26]:
43.55+2

45.55

In [27]:
45/2

22.5

In [28]:
45.55/2

22.775

In [29]:
2/2

1.0

In [30]:
43.55+1.0

44.55

In [31]:
print('{0:.2}'.format(1/3))

0.33

In [32]:
a/3

0.4444444444444444

In [33]:
1/3

0.3333333333333333

In [34]:
if (9 < 0) and (0 < -9):
   print("hello")
elif (9 > 0) or False: 
   print("good") 
else: 
   print("bad")

good

In [35]:
not(10<20) and not(10>30)

False

In [42]:
a = [2445,133,12454,123]

In [40]:
a

['h', 'e', 'l', 'l', 'o']

In [41]:
len(a)

5

In [43]:
max(a)

12454

In [44]:
min(a)

123

In [ ]:
list1 = []

In [57]:
list1 = [2, 33, 222, 14, 25]

In [53]:
print(list1[:2])

[4, 2]

In [54]:
print(list1[:-2])

[4, 2, 2, 4, 5, 2]

In [56]:
print(list1[-1])

0

In [58]:
list1[:-1]

[2, 33, 222, 14]

In [70]:
names = ['Amir', 'Bear', 'Charlton', 'Daman']

In [68]:
print(names[-1][-1])

n

In [83]:
names[-1][-1]

'n'

In [93]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]

names2[0] = 'Alice'
names3[1] = 'Bob'

sum = 0
for ls in (names1, names2, names3):
    if ls[0] == 'Alice':
        sum += 1
    if ls[1] == 'Bob':
        sum += 10
print(sum)

12

In [97]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]

names2[0] = 'Alice'
names3[1] = 'Bob'

sum = 0
if ls[0] == 'Alice':
    sum += 1
if ls[1] == 'Bob':
     sum += 10
print(sum)

10

In [98]:
for ls in (names1, names2, names3):
    print(ls)

['Alice', 'Bear', 'Charlton', 'Daman']
['Alice', 'Bear', 'Charlton', 'Daman']
['Amir', 'Bob', 'Charlton', 'Daman']

In [99]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]

In [101]:
names2

['Amir', 'Bear', 'Charlton', 'Daman']

In [104]:
list1 = [1, 3, 2]

In [105]:
list1 * 2

[1, 3, 2, 1, 3, 2]

In [106]:
list1 = [0.5 * x for x in range(0, 4)]

In [107]:
list1

[0.0, 0.5, 1.0, 1.5]

In [108]:
list1 = [11, 2, 23]
list2 = [11, 2, 2]
list1 < list2

False

In [109]:
test = {1:'A', 2:'B', 3:'C'}
del test[1]
test[1] = 'D'
del test[2]
print(len(test))

2

In [110]:
x = 2
for i in range(x):
    x += 1
    print (x)

3
4

In [112]:
print("abcdef".center(5))

abcdef

In [113]:
class Demo:
     def __init__(self):
         self.a = 1
         self.__b = 1
     def get(self):
         return self.__b
obj = Demo()
obj.a=45
print(obj.a)

45

In [114]:
def f(x):
    yield x+1
    print("test")
    yield x+2
g=f(9)

In [116]:
g()

TypeError: 'generator' object is not callable

In [117]:
names1 = ['Amir', 'Bala', 'Chales']
if 'amir' in names1:
    print(1)
else:
    print(2)

2

In [119]:
names1 = ['Amir', 'Bala', 'Charlie']
names2 = [name for name in names1]
print(names2[2][0])

C

In [120]:
numbers = [1, 2, 3, 4]
numbers.append([5,6,7,8])
print(len(numbers))

5

In [121]:
len(numbers)

5

In [129]:
num = [1,2,3,5]
num.append([4,5,6,5,5])

In [130]:
len(num)

5

In [131]:
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]
print(len(list1 + list2))

8

In [132]:
a=[1,2,3] 
b=a.append(4) 
print(a) 
print(b)

[1, 2, 3, 4]
None

In [138]:
a=[14,52,7] 
b=a.copy() 
b is a

False

In [136]:
b

[14, 52, 7]

In [140]:
a=[13,56,17] 
a.append([87]) 
a.extend([67,47]) 
print(a)

[13, 56, 17, [87], 67, 47]

In [141]:
a=list((45,)*4) 
print((45)*4) 
print(a)

180
[45, 45, 45, 45]

In [142]:
word1="Apple" 
word2="Apple" 
list1=[1,2,3] 
list2=[1,2,3] 
print(word1 is word2) 
print(list1 is list2)

True
False

In [143]:
w="hello" 
v=('a', 'e', 'i', 'o', 'u')

In [144]:
[x for x in v if w in v]

[]

In [145]:
[x for x in w if x in v]

['e', 'o']

In [146]:
[x for w in v if x in v]

[]

In [148]:
t=32.00

In [150]:
round(list1)

TypeError: type list doesn't define __round__ method

In [151]:
t=32.00 
[round((x-32)*5/9) for x in t]

TypeError: 'float' object is not iterable

In [152]:
for i in range(1, 101): 
     if int(i*0.5)==i*0.5: 
            print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [153]:
[i for i in range(1, 100) if int(i*0.5)==(i*0.5)]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [154]:
[i for i in range(1, 101) if int(i*0.5)==(i*0.5)]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [156]:
[(2**x) for x in range(0, 13)]

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [158]:
[(x**2) for x in range(1, 13)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [160]:
[(2**x) for x in range(1, 13)]

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [161]:
[(x**2) for x in range(0, 13)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [162]:
[x for x in range(0, 20) if (x%2==0)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [166]:
[x for x in range(0, 20) if (x % 2 ==0)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [167]:
[j for i in range(2,8) for j in range(i*2, 50, i)]

[4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 14,
 21,
 28,
 35,
 42,
 49]